# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- development

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  BROWSER: chrome

steps:
- task: UseDotNet@2
  displayName: 'Use DotNet Core 3.1.x'
  inputs:
    packageType: 'sdk'
    version: '3.1.x'
    includePreviewVersions: false
    installationPath: '$(Agent.ToolsDirectory)'

- task: AzureKeyVault@1
  inputs:
    azureSubscription: 'NHSAPP-BuyingCatalogue (Non-Prod)'
    KeyVaultName: 'gpitfutures-dev-kv'
    SecretsFilter: '*'

- task: replacetokens@3
  inputs:
    targetFiles: '**/*.json'
    encoding: 'auto'
    writeBOM: true
    actionOnMissing: 'warn'
    keepToken: false
    tokenPrefix: '#{'
    tokenSuffix: '}#'
    emptyValue: 

- bash: 
    "curl -i $(MPURL) --fail --connect-timeout 30"
  displayName: 'Check URL is reachable'

- script: docker-compose up --scale chrome=4 -d
  displayName: docker-compose

#- bash: '
#    export BROWSER=chrome && 
#    export SERVERURL=$(SERVERURL) && 
#    export DATABASENAME=$(DATABASENAME) && 
#    export DBUSER=$(DBUSER) && 
#    export DBPASSWORD=$(DBPASSWORD) && 
#    export MPURL=$(MPURL) &&
#    dotnet test src/ -v n -l:trx;LogFileName=/test/results.trx'
#  displayName: 'Run acceptance tests'

- task: DotNetCoreCLI@2
  inputs:
    command: 'test'
    projects: 'src/MarketingPageAcceptanceTestsSpecflow/*csproj'
    arguments: '-v n'
    testRunTitle: 'Run Acceptance Tests'

  

- task: PublishTestResults@2
  inputs:
    testResultsFiles: '$(Agent.TempDirectory)/*.trx'
    failTaskOnFailedTests: true
    testRunner: VSTest