# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- development

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  group: 'Azure Keyvault - Dev Environment'

steps:
- task: UseDotNet@2
  displayName: 'Use DotNet Core 3.1.x'
  inputs:
    packageType: 'sdk'
    version: '3.1.x'
    includePreviewVersions: false
    installationPath: '$(Agent.ToolsDirectory)'
- task: AzureKeyVault@1
  inputs:
    azureSubscription: 'NHSAPP-BuyingCatalogue (Non-Prod)'
    KeyVaultName: 'gpitfutures-dev-kv'
    SecretsFilter: '*'
    
- bash:
    "printenv | sort"
  displayName: 'Print env variables'

- bash: 
    "curl -i $(MPURL) --fail --connect-timeout 30"
  displayName: 'Check URL is reachable'

- task: replacetokens@3
  inputs:
    targetFiles: '**/*.json'
    encoding: 'auto'
    writeBOM: true
    actionOnMissing: 'warn'
    keepToken: false
    tokenPrefix: '#{'
    tokenSuffix: '}#'
    emptyValue: 

- script: docker-compose up --scale chrome=4 -d
  displayName: docker-compose

- bash: '
    export BROWSER=chrome && 
    export SERVERURL=$(SERVERURL) && 
    export DATABASENAME=$(DATABASENAME) && 
    export DBUSER=$(DBUSER) && 
    export DBPASSWORD=$(DBPASSWORD) && 
    export MPURL=$(MPURL) &&
    dotnet test src/ -v n -l:trx;LogFileName=/test/results.trx
    $?'
  displayName: 'Run acceptance tests'

- task: PublishTestResults@2
  inputs:
    testResultsFiles: '**/*.trx'
    failTaskOnFailedTests: true
    testRunner: VSTest
  condition: succeededOrFailed()