# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- development

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  group: Azure Keyvault - Dev Environment

steps:
- task: UseDotNet@2
  displayName: 'Use DotNet Core 3.1'
  inputs:
    version: 3.1.x
    includePreviewVersions: false

- script: docker-compose up --scale chrome=4 -d
  displayName: docker-compose
- bash: '
    export BROWSER=chrome && 
    export SERVERURL=$(SERVERURL) && 
    export DATABASENAME=$(DATABASENAME) && 
    export DBUSER=$(DBUSER) && 
    export DBPASSWORD=$(DBPASSWORD) && 
    export MPURL=$(MPURL) &&
    dotnet test src/ -v n -l:trx;LogFileName=/test/results.trx'

- task: PublishTestResults@2
  inputs:
    testResultsFiles: '**/*.trx'
    failTaskOnFailedTests: true
    testRunner: VSTest
